<section class="notfound">
    <article>
        <div class="units-1 cut-in-half">
            <div>
                <div class="copy center-y">
                    <h1>404</h1>
                    <p>Ohje, was du suchst scheint nicht hier zu sein :-(</p>
                </div>
            </div>
        </div>
    </article>
    
    <article>
        <div class="content">
            <div class="units-2">
               <div>
                   <div class="copy center-y">
                       <h2>Gehe Shoppen</h2>
                       <center><a href="/">Jetzt shoppen</a></center>
                   </div>
                </div>
                <div>
                    <div class="copy center-y">
                        <h2>Lass dich auf Instagram inspirieren</h2>
                        <h3 class="social-links">
                            <a target="_blank" href="http://www.instagram.com/einzlstck" title="Follow us on Instagram" class="insta-link"><i class="fa fa-instagram"></i></a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>