<section class="checkout">
    <article>
        <div class="units-1 cut-in-half">
            <div>
                <div class="copy center-y">
                    <h1>Kasse</h1>
                    <p>Du musst nicht anstehen. Versprochen.</p>
                </div>
            </div>
        </div>
    </article>
    
    <article>
        <div class="content">
            <div class="units-2">
                <div id="billing-address" class="unit">
                    <div class="copy">
                        <h2>Rechnungsadresse</h2>
                        <div class="user-address-list"></div>
                        <button class="new-address-button">
                            <span><i class='fa fa-plus'></i> Addresse hinzufügen</span>
                        </button>
						<div class="new-address-form"></div>
                        
                    </div>
                </div>
                <div id="shipping-address" class="unit">
                    <div class="copy">
                        <h2>Lieferadresse</h2>
                        <div class="user-address-list"></div>
						<button class="new-address-button">
                            <span><i class='fa fa-plus'></i> Addresse hinzufügen</span>
                        </button>
                        <div class="new-address-form"></div>
                    </div>
                </div>
            </div>
            <div class="units-2">
                <div id="cart-preview">
                    <div class="copy">
                        <h2>Deine Artikel</h2>
                        <div class="cart"></div>
                    </div>
                </div>
                <div id="payment-choice">
                    <div class="copy">
                        <h2>Zahlung</h2>
                        <ul>
                            <li><input type="radio" name="paymentOption" id="paypal" value="paypal-express" checked /><label for="paypal">Paypal</label></li>
                            <li><input type="radio" name="paymentOption" id="transfer" value="manual" /><label for="transfer">Vorkasse</label></li>
                        </ul>
                        <button class="button buy"><span>Kaufen</span></button>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>