@import 'branding';
@import 'grid';
@import 'navigation';
@import 'cart';
@import 'custom';

body {
    background-color: $softwhite;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial;
    color: $darkgrey;
}

header {
    
    .title {
        position: absolute;
        left: 0;
        height: 60px;
        line-height: 60px;
        z-index: 510;
        margin-left: 60px;
        
        a:before {
            content: "Einzlstck";
            display: inline;
        }
        
        span {
            display: none;
        }
    }
    
    @media(min-width: $bp1) {
        
        .title {
            
            margin-left: 30px;
            
            a:before {
                display: none;
            }
            
            span {
                display: inline;
            }
        }
        
    }
    
    .right-area {
        position: absolute;
        z-index: 510;
        top: 0;
        right: 0;
        height: 60px;
    }
    
    .cart-button {
        float: right;
        white-space: nowrap;
        height: 60px;
        padding: 0 20px;
        line-height: 60px;
        margin: 0 0px;

        i {
            
        }

        .total-items {
            font-size: .8em;
            
            &:before {
                content: "|";
                display: inline-block;
                margin-right: 3px;
            }
            
            &:empty {
                display: none;
            }
        }
        
        .total-price {
            display: none;
        }
        
        &:hover {
            cursor: pointer;
        }
    }
    
    .language-button {
        float: right;
        display: inline-block;
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        margin-right: 10px;
        font-size: .8em;
        
        display: none;
        
        &:hover {
            cursor: pointer;
        }
    }
}

.copy {
    box-sizing: border-box;
    padding: 50px 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    line-height: 1.3em;
    
    @media(min-width: $bp1) {
        padding: 70px;
    }
    
    
    &.center-y {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
    }
    
    .csstransforms &.center-y {
        top: 50%;
        transform: translate(0, -50%);
    }

}




.product {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    
    .details {
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        .drop.plus {
            z-index: 10;
        }
        
        .drop.like {
            top: 70px;
            
            @media(min-width: $bp1) {
                top: 100px;
            }
            
        }
        
        .drop.add-to-cart {
            top: 120px;
            
            @media(min-width: $bp1) {
                top: 150px;
            }
            
        }
        
        &.collapsed {
            
            .drop.plus i {
                transform: rotate(0deg);
            }

            .drop.like {
                transition: transform ease .3s 0s, opacity ease .3s 0s, background-color ease .3s 0s, color ease .3s 0s;
                transform: translate(0px, -50px) rotate(45deg);
                opacity: 0;
            }

            .drop.add-to-cart {
                transition: transform ease .3s 0s, opacity ease .3s 0s, background-color ease .3s 0s, color ease .3s 0s;
                transform: translate(0px, -100px) rotate(45deg);
                opacity: 0;
            }
            
        }
        
        &.expanded {
            
            .drop.plus i {
                transform: rotate(-45deg);
            }

            .drop.like {
                transition: transform ease .3s .2s, opacity ease .3s .2s, background-color ease .3s 0s, color ease .3s 0s;
                transform: translate(0px, 0px) rotate(-45deg);
                opacity: 1;
            }

            .drop.add-to-cart {
                transition: transform ease .3s .4s, opacity ease .3s .4s, background-color ease .3s 0s, color ease .3s 0s;
                transform: translate(0px, 0px) rotate(-45deg);
                opacity: 1;
            }
            
        }
    }
    
    .background {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        div {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    
}

ul.user-address-list {
    margin: 0 0 30px;
    padding: 0;
    list-style: none;
    list-style-type: none;
    
    li {
        border: 2px solid #ccc;
        padding: 10px 30px;
        margin: 5px 0;
    }
}


/*------------------------------------*\
    NOTIFICATION
\*------------------------------------*/

#notification {
    z-index: 9999;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    text-align: center;
    color: #f3f3f3;
    transform: translate3d(0, 0%, 0);
    transition: transform ease .5s;
    backface-visibility: hidden;
    
    &.hide {
        transform: translate3d(0, 100%, 0);
    }
    
    &.success { background-color: $green; }
    &.error { background-color: $red; color: $softwhite !important }
    &.info { background-color: $yellow; }
}


/*------------------------------------*\
    SPECIAL LINKS
\*------------------------------------*/

.copy a.twitter-link, .copy a.insta-link {
    font-size: 2em;
    margin: 10px 30px;
    color: $darkgrey;
}

.twitter-link:hover i:before {
    color: #55ACEE;
}

.insta-link:hover i:before {
    color: #517fa4;
}