// COLORS
$darkgrey: #333333;
$softwhite: #f1f1f1;
$textwhite: #f9f9f9;
$buttonbackground: #888;
$buttonbackgroundHover: #666;
$red: #ED7D7C;
$green: #5E8858;
$yellow: #E8D2AE;
$blue: #3F7CAC;

// BREAKPOINTS
$bp1: 750px;
$bp2: 1200px;

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

[class^="units"] > div,
[class*=' units'] > div {
    border-color: #eee;
}

a, a:visited, a:focus, a:hover {
    color: $darkgrey;
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.copy a {
    box-sizing: border-box;
    color: #3F7CAC;
    font-weight: bold;
    display: inline-block;
    position: relative;
    
    &:hover {
        
    }
    
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    &:hover:before {
        
    }
}

h1 {
    font-size: 40px;
    line-height: 1em;
    font-weight: 400;
    text-align: center;
    
    @media(min-width: $bp1) {
        font-size: 70px;
    }
    
    @media(min-width: $bp2) {
        font-size: 100px;
    }
    
    &.stretch {
        font-size: calc(100% + 10vw);
    }
}

h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    position: relative;
    margin-top: 0;
    margin-bottom: 2em;
    font-weight: 400;
    text-align: center;
}

h2:after {
    content: "";
    height: 1px;
    border-top: 1px solid #333;
    background: transparent;
    width: 20px;
    position: absolute;
    bottom: -1em;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial;
}

h3 {
    position: relative;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    line-height: 1.4em;
}

input[type="email"], input[type="text"] {
    box-sizing: border-box;
    border: 1px solid #eee;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    
    &:focus {
        outline: none;
        border-color: #999;
    }
}

select {
    box-sizing: border-box;
    border: 1px solid #eee;
    width: 100%;
    margin: 10px 0;
    padding: 10px 5px;
    font-weight: normal;
    
    &:focus {
        outline: none;
        border-color: #999;
    }
}

textarea {
    border: 1px solid #eee;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    
    &:focus {
        outline: none;
        border-color: #999;
    }
}

button, .button, a.button {
    position: relative;
    display: inline-block;
    border: 0;
    padding: .5em 25px;
    text-align: center;
    background-color: $buttonbackground;
    color: #f3f3f3;
    transition: all ease .3s;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    
    &:hover {
        background-color: $buttonbackgroundHover;
        cursor: pointer;
    }
    
    &:before {
        font-family: FontAwesome;
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        vertical-align: baseline;
        display: inline-block;
        line-height: 1.4em;
        text-align: center;
        backface-visibility: hidden;
    }
    
    &.success {
        background-color: $green;
    }
    &.fail {
        background-color: $red;
    }
    
    &.loading:before {
        content: "\f021";
        animation: rotateIt 1s linear infinite reverse;
        transform-origin: center center;
    }
    
    &.success:before {
        content: "\f00c";
    }
    
    &.fail:before {
        content: "\f00d";
    }
    
    span {
        position: relative;
        opacity: 1;
        transition: all ease .3s;
    }
    
    &.loading > span,
    &.success > span,
    &.fail > span {
        opacity: 0;
    }
}


.drop {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    font-size: 1.1em;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 0% 50% 50% 50%;
    
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    transition: all ease .3s;
    backface-visibility: hidden;
    
    @media(min-width: $bp1) {
        top: 50px;
        right: 50px;
    }
    
    &.drop-points-left {
        transform: rotate(-45deg);
    }
    
    &:hover {
        cursor: pointer;
    }
    
    &.liked {
        color: $red;
    }
    
    i {
        transform: rotate(-45deg);
        transition: transform ease .3s;
        backface-visibility: hidden;
    }
    
     &.drop-points-left i {
        transform: rotate(45deg);
    }
    
    &.loading i {
        animation: rotateIt 1s linear infinite reverse;
        transform-origin: 50% 50%;
        
        &:before {
            content: "\f021";
        }
    }
    
    &.success {
        background-color: $green;
    }
    &.fail {
        background-color: $red;
    }
    
    &.success i:before {
        content: "\f00c";
        color: $softwhite;
    }
    
    &.fail i:before {
        content: "\f00d";
        color: $softwhite;
    }
}

.error {
    border-color: $red !important;
    color: $red !important;
}


/*------------------------------------*\
    ANIMATIONS
\*------------------------------------*/

@keyframes rotateIt
{
	0%   {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}
}
























