// COLORS
$darkgrey: #333333;
$softwhite: #f1f1f1;
$textwhite: #f9f9f9;
$buttonbackground: #888;
$buttonbackgroundHover: #666;
$red: #ED7D7C;
$green: #5E8858;
$yellow: #E8D2AE;

// BREAKPOINTS
$bp1: 750px;
$bp2: 1200px;

[class^="units"] > div,
[class*=' units'] > div {
    border-color: #eee;
}

a, a:visited, a:focus, a:hover {
    color: $darkgrey;
    text-decoration: none;
    outline: none;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

@media(min-width: $bp1) {
    h1 {
        font-size: 70px;
    }
}

@media(min-width: $bp2) {
    h1 {
        font-size: 100px;
    }
}


h2 {
    position: relative;
    margin-top: 0;
    margin-bottom: 2em;
    font-weight: 400;
    text-align: center;
}

h2:after {
    content: "";
    height: 1px;
    border-top: 1px solid #333;
    background: transparent;
    width: 20px;
    position: absolute;
    bottom: -1em;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial;
}

h3 {
    position: relative;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}

input[type="email"], input[type="text"] {
    border: 1px solid #eee;
    width: 80%;
    margin: 10px 0;
    padding: 10px;
}

.csscalc {
    input[type="email"], input[type="text"] {
        width: calc(100% - 20px);
    }
}

input[type="email"]:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #999;
}

button, .button {
    position: relative;
    display: inline-block;
    border: 0;
    padding: .5em 25px;
    text-align: center;
    background-color: $buttonbackground;
    color: #f3f3f3;
    transition: all ease .3s;
    
    &:hover {
        background-color: $buttonbackgroundHover;
        cursor: pointer;
    }
    
    &:before {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        vertical-align: baseline;
        display: inline-block;
        line-height: 1.4em;
        font-family: FontAwesome;
        text-align: center;
        backface-visibility: hidden;
        transform-origin: center center;
    }
    
    &.loading:before {
        content: "\f021";
        animation: rotateIt 1s linear infinite reverse;
    }
    
    &.success:before {
        content: "\f00c";
    }
    
    &.fail:before {
        content: "\f00d";
    }
    
    span {
        position: relative;
        opacity: 1;
        transition: all ease .3s;
    }
    
    &.loading > span,
    &.success > span,
    &.fail > span {
        opacity: 0;
    }
}


.drop {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background-color: #f1f1f1;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(45deg);
    text-align: center;
    transform-origin: center center;
}

.drop i {
    vertical-align: top;
    width: 36px;
    height: 36px;
    line-height: 36px;
    transform: rotate(-45deg);
    transform-origin: center center;
}

.drop i:before {
    
}

.drop:hover {
    cursor: pointer;
}

.drop.like {
     
}

.drop.liked {
    color: $red;
}

.error {
    border-color: $red !important;
    color: $red !important;
}


/*------------------------------------*\
    ANIMATIONS
\*------------------------------------*/

@keyframes rotateIt
{
	0%   {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}
}
























