$darkgrey: #333333;
$softwhite: #f1f1f1;
$textwhite: #f9f9f9;
$buttonbackground: #888;
$buttonbackgroundHover: #666;

[class^="units"] > div,
[class*=' units'] > div {
    border-color: #eee;
}

a, a:visited, a:focus, a:hover {
    color: $darkgrey;
    text-decoration: none;
    outline: none;
}

h1 {
    font-size: 100px;
    font-weight: 400;
    text-align: center;
}

h2 {
    position: relative;
    margin-top: 0;
    margin-bottom: 2em;
    font-weight: 400;
    text-align: center;
}

h1:after,
h2:after {
    content: "";
    height: 1px;
    border-top: 1px solid #333;
    background: transparent;
    width: 20px;
    position: absolute;
    bottom: -1em;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial;
}

h3 {
    position: relative;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}

input[type="email"], input[type="text"] {
    border: 1px solid #eee;
    width: 80%;
    margin: 10px 0;
    padding: 10px;
}

.csscalc {
    input[type="email"], input[type="text"] {
        width: calc(100% - 20px);
    }
}

input[type="email"]:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #999;
}

.button {
    display: inline-block;
    border: 0;
    padding: 10px 25px;
    text-align: center;
    background-color: $buttonbackground;
    color: #f3f3f3;
    transition: all ease .3s;
}

.button:hover {
    background-color: $buttonbackgroundHover;
    cursor: pointer;
}





.drop {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background-color: #e1e1e1;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(45deg);
    text-align: center;
    transform-origin: center center;
}

.drop i {
    vertical-align: top;
    width: 36px;
    height: 36px;
    line-height: 36px;
    transform: rotate(-45deg);
    transform-origin: center center;
}

.drop i:before {
    
    
}

.drop:hover {
    cursor: pointer;
}

.drop.like {
    
}































