aside.cart-container {
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    position: absolute;
    top: 60px;
    height: 500px;
    z-index: 600;
    right: -400px;

    h2 {
        text-align: left;
    }

    h2:after {
        left: 0;
        right: auto;
    }
}

aside.cart-container.open {
    right: 0;
}

.csstransforms aside.cart-container {
    right: 0;
    transform: translate(100%, 0);
    transition: all ease .5s;
}

.csstransforms aside.cart-container.open {
    transform: translate(0%, 0);
}

.cart {

    ul {
        list-style: none;
        list-style-type: none;
        padding: 0;
        margin: 0;

    }

    li {
        white-space: nowrap;
        padding: .4em 0;

        .quantity {
            font-style: italic;
            margin-left: 10px;
        }

        .quantity:before {
            content: "x";
        }

        .remove {
            float: right;
            display: inline-block;
            margin-left: 10px;
            color: #ccc;
        }

        .remove:hover {
            cursor: pointer;
        }

        .price {
            float: right;
        }

    }
    
    ul.totals {
        position: relative;
        margin-top: 2em;
        
        li {
            font-size: .8em;
        }
        
        .sum {
            font-size: 1em;
        }
    }
    
    ul.totals:before {
        content: "";
        height: 1px;
        background-color: #333;
        width: 20px;
        position: absolute;
        top: -1em;
        left: 0;
    }
}
