.checkout {
    
    
    .user-address-list {
    
        ul {
            margin: 0 0 30px;
            padding: 0;
            list-style: none;
            list-style-type: none;
        }


        li {
            border: 2px solid #ccc;
            padding: 10px 30px;
            margin: 5px 0;

            &:hover {
                cursor: pointer;
                border-color: #999;
            }

            &.selected {
                border-color: $green;
                background-color: $green;
                color: #fff;

            }

            .email {
                font-style: italic;
                opacity: .8;

            }
        }
    }

    .open-form {
        .new-address-form {
            display: block;
        }
        
        .new-address-button {
            display: none;
        }
        
    }

    .new-address-form {

        display: none;
        margin-top: 40px;

        h3 {
            text-align: left;
        }

        button {
            margin-right: 5px;
            margin-top: 5px;
        }

        input {
            
            &.error {
                border-color: $red;
            }

            margin: 3px 0;

            &.firstname, &.lastname {
                width: 49%;
                display: inline-block;
            }

            &.firstname {
                margin-right: 2%;
                float: left;
            }

            &.code {
                width: 35%;
                float: left;
                margin-right: 1%;
            }

            &.city {
                margin-right: 1%;
                width: 50%;
                display: inline-block;
                float: left;
            }


        }

        select {

            &.country {
                font-size: 15px;
                width: 13%;
                height: 40px;
                margin: 3px 0;
            }

        }

        textarea.note {
            margin: 3px 0;
            height: 200px;
        }

    }
    
    
    #cart-preview {
        
        .copy {
            padding-left: 0;
            padding-right: 0;
        }
        
        .cart {
            
            li {
                padding-right: 40px;
            }

            .button.checkout {
                display: none;
            }

            .item:hover {
                background-color: transparent;
                cursor: default;

            }

            .remove {
                opacity: .3;
                transform: none;
                background-color: transparent;
                color: $red;
                width: 40px;
                padding: 15px 0;
                text-align: center;

                &:hover {
                    opacity: 1;
                }
            }

        }
    }

    

    #payment-choice {

        ul {
            padding: 0;
            margin: 0;
        }

        li {
            list-style: none;
            list-style-type: none;
            padding: 3px;

            input:hover, label:hover {
                cursor: pointer;
            }

            input {
                margin-right: 10px;
            }
            
            .disabled {
                color: #ccc;
                
                &:after {
                    content: " (soon)"
                }
            }
        }

    }


    .button.buy {
        width: 100%;
        display: block;
        height: 60px;
        background-color: $green;
        color: #fff;
        margin-top: 100px;
    }
    
    
    
}






















