.home article:first-child .units-1 > div {
    
}

.newsletter-form .subscribe {
    float: left;
}

.newsletter-form input {
	font-size: 1.3em;
	padding: .5em 1em;
}

.quatsch-arrow:before {
    content: "\2191";
    
    @media(min-width: $bp1) {
        content: "\2190";
    }
    
}