.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

header {
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    height: 60px;
    width: 100%;
    z-index: 500;
}

@media(min-width: $bp1) {
    header {
        position: fixed;
        top: 0;
    }
}

section, article, .content {
    width: 100%;
}

.content, footer {
    max-width: 1200px;
    margin: 0 auto;
}

[class^="units"],
[class*=' units'] {
    width: 100%;
}

[class^="units"]:after,
[class*=' units']:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: table;
    float: none;
    clear: both;
}


[class^="units"] > div,
[class*=' units'] > div {
    box-sizing: border-box;
    position: relative;
    border-width: 1px;
    border-style: solid;
    float: left;
    background-color: $textwhite;
    
    width: 100%;
    min-height: 300px;
}

.cssvhunit [class^="units"] > div,
.cssvhunit [class*=' units'] > div {
    min-height: 55vh;
}

@media(min-width: $bp1) {
    [class^="units"] > div,
    [class*=' units'] > div {
        width: 50%;
        min-height: 400px;
    }
    .cssvhunit [class^="units"] > div,
    .cssvhunit [class*=' units'] > div {
        min-height: 50vh;
    }
}

@media(min-width: $bp1) {
    
    .units-1 > div {
        width: 100%;
        height: 700px;
    }
    
    .cssvhunit .units-1 > div {
        height: 100vh;
    }
    
    .units-1.cut-in-half > div {
        height: 350px;
    }
    
    .cssvhunit .units-1.cut-in-half > div {
        height: 50vh;
    }
    
    .units-1 .copy {
        text-align: center;
        padding: 0;
        
        p {
            padding: 0 70px;
        }
    }
    
    .units-1 .copy .limitWidth {
        width: 500px;
        margin: 0 auto;
//        text-align: left;
    }

    .units-2 > div {
        min-height: 800px;
    }

    .cssvhunit .units-2 > div {
        min-height: 100vh;
    }

    .units-3 > div:first-child {
        min-height: 800px;
    }
    
    .cssvhunit .units-3 > div:first-child {
        min-height: 100vh;
    }
    
}


footer {
    box-sizing: border-box;
    padding: 1.5em;
    font-size: .8em;
}
