.product {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    .details {
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
		
		.drop {
			right: 20px;
    		top: 20px;
			
			@media(min-width: $bp1) {
				top: 50px;
				right: 50px;
			}
		}
        
        .drop.plus {
            z-index: 10;
        }
        
        .drop.like {
			display: none;
            top: 70px;
            
            @media(min-width: $bp1) {
                top: 100px;
            }
            
        }
        
        .drop.add-to-cart {
            top: 70px;
            
            @media(min-width: $bp1) {
                top: 100px;
            }
            
        }
		
		.indicators {
			font-size: 15px;
			padding: 5px;
			color: $textwhite;
			position: absolute;
			bottom: 15px;
			display: inline-block;
			left: 50%;
			transform: translate(-50%, 0);
			
			display: none;
			
			
			.drop {
				transition: all ease .3s;
				position: relative !important;
				top: 0;
				left: 0;
				display: inline-block;
				width: 13px;
				height: 13px;
				border-radius: 50% 50% 50%;
				opacity: .7;
				
				&:hover {
					cursor: pointer;
					opacity: 1;
				}
				
				&.active {
					border-radius: 0 50% 50%;
					opacity: 1;
					cursor: default;
				}
				
			}
			
			
			
			
		}
		
		.info {
			padding: 20px;
			background-color: $softwhite;
			display: inline-block;
			position: absolute;
			transition: all ease .4s;
			top: 20px;
			left: 20px;
    		right: 80px;
			
			@media(min-width: 450px) {
				left: auto;
				max-width: 300px;
			}
			
			@media(min-width: $bp1) {
				padding: 30px;
				top: 50px;
				right: 110px;
				left: auto;
				max-width: 50%;
			}
			
			h3 {
				text-align: left;
			}
			
			.price {
				margin-top: 30px;
				font-size: 20px;
				text-align: center;
			}
		}
        
        &.collapsed {
            
            .drop.plus i {
                transform: rotate(0deg);
            }

            .drop.like {
                transition: transform ease .3s 0s, opacity ease .3s 0s, background-color ease .3s 0s, color ease .3s 0s;
                transform: translate(0px, -50px) rotate(45deg);
                opacity: 0;
            }

            .drop.add-to-cart {
                transition: transform ease .3s 0s, opacity ease .3s 0s, background-color ease .3s 0s, color ease .3s 0s;
                transform: translate(0px, -50px) rotate(45deg);
                opacity: 0;
            }
			
			.info {
				transform: translate3d(20px, 0, 0);
				opacity: 0;
				pointer-events: none;
			}
            
        }
        
        &.expanded {
            
            .drop.plus i {
                transform: rotate(-45deg);
            }

            .drop.like {
                transition: transform ease .3s .2s, opacity ease .3s .2s, background-color ease .3s 0s, color ease .3s 0s;
                transform: translate(0px, 0px) rotate(-45deg);
                opacity: 1;
            }

            .drop.add-to-cart {
                transition: transform ease .3s .2s, opacity ease .3s .2s, background-color ease .3s 0s, color ease .3s 0s;
                transform: translate(0px, 0px) rotate(-45deg);
                opacity: 1;
            }
			
			.info {
				transform: translate3d(0px, 0, 0);
				opacity: 1;
			}
            
        }
    }
	
	
	&.out-of-stock {
		
		.background {
			opacity: .7;
		}
		
		.details {
			.drop {
				display: none;
			}
			
			.info {
				display: none;
			}
			
			
			
			
			&:after {
				content: "Ausverkauft";
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 50;
				transform: translate(-50%,-50%);
				text-transform: uppercase;
				font-weight: bold;
				color: $red;
				font-size: 2em;
			} 
		}
	}
    
}